html{
    font-family: 'Microsoft JhengHei', Helvetica, Arial, sans-serif;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    background-color: #fff;
    max-width: 1280px;
    margin: auto;
    padding: 50px;
}
.line{
    width: 100%;
    border-bottom: 1px #aaaa solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

li{
    line-height: 25px;
}