html{
    font-family: 'Microsoft JhengHei', Helvetica, Arial, sans-serif;
    font-size: large;
}
p{
    line-height: 30px;
    font-size: 22px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    background-color: #fff;
    max-width: 1280px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.line{
    width: 100%;
    border-bottom: 1px #aaaa solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

li{
    line-height: 25px;
}

code{
    font-family: monospace,'Share Tech Mono';
    padding: .05rem .2rem;
    border-radius: .2rem;
    color: white;
    white-space: nowrap;
}
.loops{
    background-color: #20BF6B;
}
.game{
    background-color: #8854d0;
}

@media screen and (max-width: 300px) {
    
}